<!DOCTYPE html>
<html>
<!-- Main Wrapper Starts Here, This Div Wrapper Close in footer.php -->

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>User 
        <small>Details</small>
      </h1>

		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a>
			</li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
	<div class="row">
		
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-t-5">
				<div class="box box-info m-b-5">
					<div class="box-header with-border">
						<h3 class="box-title">Patient Details</h3>
						<p><strong>Name Here <br /></strong>
						<span>Location - <i class="fa  fa-building-o"></i> Room 4, <i class="fa fa-bed blue-icon"></i> Bed - 5</span>
						</p>
					</div>
				</div>
	</div>
	
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-t-5">
				<div class="box box-info m-b-5">
					<div class="box-header with-border">
						<div class="form-group">
									<label>Select Patient / Kin</label>
									<select class="form-control p-0">
										<option>Patient</option>
										<option>Kin</option>
									</select>
								</div>
					</div>
				</div>
	</div>
	
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-t-5">
				<div class="box box-info m-b-5">
					<div class="box-header with-border">
						<h3 class="box-title">Doctor Details</h3>
						<p><i class="fa fa-user-md blue-icon" aria-hidden="true"></i> Doctor Name Here <br>
									<i class="fa fa-cutlery green-icon" aria-hidden="true"></i> Dietition Name Here
							  </p>
					</div>
				</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-t-5">
				<div class="box box-info m-b-5">
					<div class="box-header with-border">
						<h3 class="box-title">Patient Details</h3>
						<p><strong>Name Here</strong>
					</div>
				</div>
	</div>
		
	</div>
	
	
		<!-- Small boxes (Stat box) -->
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<!-- small box -->
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3><small>Today </small> Breakfast</h3>

						<p><b>Selected :</b> Iteam-1, Item-2 </p>
					</div>
					<a href="#" class="small-box-footer"  data-toggle="modal" data-target="#breakFast">Change Order  : Click Here <i class="fa fa-arrow-circle-right"></i></a>

			<!-- Breakfast Modal Starts Here -->
  			<div class="modal fade" id="breakFast" role="dialog">
  				 <!-- Modal Content Starts Here -->
   				 <div class="modal-dialog">    
      				<div class="modal-content">
       				 <div class="modal-header ">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h4 class="modal-title blue-title-color">Break Fast</h4>
        			</div>
        			<div class="modal-body">
          				<p class="breakfast"><strong>Breakfast:<br> Bacon , Margarine, Two Fruits </strong></p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Modify</button> <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        			</div>
      			</div>      
    			</div>
    		<!-- Modal Content Ends Here -->
  			</div>
  			<!-- Breakfast Modal Ends Here -->
			</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<!-- small box -->
				<div class="small-box bg-green">
					<div class="inner">
						<h3><small>Today </small> Lunch </h3>

						<p>Description</p>
					</div>
					<a href="#" class="small-box-footer" data-toggle="modal" data-target="#lunch">Change Order  : Click Here <i class="fa fa-arrow-circle-right"></i></a>
					
					<!-- Lunch Modal Starts Here -->
  					<div class="modal fade" id="lunch" role="dialog">
  				 <!-- Modal Content Starts Here -->
   				 <div class="modal-dialog">    
      				<div class="modal-content">
       				 <div class="modal-header ">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h4 class="modal-title volite-title-color">Lunch</h4>
        			</div>
        			<div class="modal-body">
          				<p class="breakfast"><strong>Lunch :<br> Bacon , Margarine, Two Fruits 
									</strong></p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Modify</button> <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        			</div>
      			</div>      
    			</div>
    		<!-- Modal Content Ends Here -->
  			</div>
  					<!-- Luch Modal Ends Here -->
				</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<!-- small box -->
				<div class="small-box bg-yellow">
					<div class="inner">
						<h3><small>Today </small> Dinner</h3>

						<p>Description</p>
					</div>
					<a href="#" class="small-box-footer" data-toggle="modal" data-target="#dinner">Change Order  : Click Here <i class="fa fa-arrow-circle-right"></i></a>
					
					<!-- Dinner Modal Starts Here -->
  					<div class="modal fade" id="dinner" role="dialog">
  				 <!-- Modal Content Starts Here -->
   				 <div class="modal-dialog">    
      				<div class="modal-content">
       				 <div class="modal-header ">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h4 class="modal-title sea-title-color">Dinner</h4>
        			</div>
        			<div class="modal-body">
          				<p class="breakfast"><strong>Dinner :<br> Bacon , Margarine, Two Fruits 
									</strong></p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Modify</button> <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        			</div>
      			</div>      
    			</div>
    		<!-- Modal Content Ends Here -->
  			</div>
  					<!-- Dinner Modal Ends Here -->
				</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<!-- small box -->
				<div class="small-box bg-red">
					<div class="inner">
						<h3><small>Total </small>Nutritions </h3>

						<p>Description</p>
					</div>
					<a href="#" class="small-box-footer" data-toggle="modal" data-target="#nutritions">More info <i class="fa fa-arrow-circle-right"></i></a>
					
					<!-- Nutritions Modal Starts Here -->
  					<div class="modal fade" id="lunch" role="dialog">
  				 <!-- Modal Content Starts Here -->
   				 <div class="modal-dialog">    
      				<div class="modal-content">
       				 <div class="modal-header ">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h4 class="modal-title volite-title-color">Lunch</h4>
        			</div>
        			<div class="modal-body">
          				<p class="breakfast"><strong>Lunch :<br> Bacon , Margarine, Two Fruits 
									</strong></p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Modify</button> <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        			</div>
      			</div>      
    			</div>
    		<!-- Modal Content Ends Here -->
  			</div>
  					<!-- Nutritions Modal Ends Here -->
  					
				</div>
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<!-- Left col -->			
			<section class="col-lg-9 col-md-9 col-sm-9 col-xs-12 ">
				<!-- Break Fast Section Starts Here -->
				<!-- Custom Tabs -->
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"> Breakfast</a>
						</li>
						<li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Morning Snacks</a>
						</li>
						<li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Lunch</a>
						</li>
					</ul>
					<div class="tab-content">
						<!-- Breakfast Content Tab Starts Here -->
						<div class="tab-pane active" id="tab_1">
							<form class="form-horizontal">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- Select Patient Area Starts Here -->
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 p-0 m-r-5">
									<div class="form-group">
                  						<label>Patient :</label>
										<input type="text" class="form-control" value="" placeholder="MR Number" />
									</div>
								</div>
								<!-- Select Patient Area Ends  Here -->
								<!-- Date Range Area Starts Here -->
            					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0 pull-right">
             					<!-- Date range -->
              					<div class="form-group m-b-0">
                				<label>Select Dates :</label>

                			<div class="input-group">
                  			<div class="input-group-addon">
                   				 <i class="fa fa-calendar"></i>
                  			</div>
                  			<input type="text" class="form-control pull-right" id="reservation">
               			 </div>
                			<!-- /.input group -->
              			</div>
								<!-- Date Range Area Ends Here -->
								</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-l-0">	
									<div class="evn-color ">
										<div class="form-group m-l-0 m-r-0">
											<label class="bf-title normal-txt">Hot Breakfast :</label>
											<div class="form-check">
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Bacon, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Scrambled Eggs, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Hash Brown, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Baked Beans, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Roasted Tomatoes</label>
											</div>
										</div>
									</div>
									
									<div class="odd-color ">
										<div class="form-group m-l-0 m-r-0">
											<label class="bf-title normal-txt">Spreads :</label>
											<div class="form-check">
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Butter, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Margarine, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Vegemite, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Strawberry Jam, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Marmalade, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Nutella, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Honey </label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-l-0">
									<div class="evn-color ">
										<div class="form-group m-l-0 m-r-0">
											<label class="bf-title normal-txt">Hot Cereals : </label>
											<div class="form-check">
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Rolled Oats, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Vegetarian Congee</label>
											</div>
										</div>
									</div>
									<div class="odd-color ">
										<div class="form-group m-l-0 m-r-0">
											<label class="bf-title"> Bread : ( <input type="checkbox"> Tosted / <input type="checkbox"> Untoasted ) : </label>
											<div class="form-check">
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> White, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Whole Meal, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Multigrain, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Nutella, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Honey </label>
											</div>
										</div>
									</div>
									
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-l-0 p-r-0">
									<div class="odd-color ">
										<div class="form-group m-l-0 m-r-0">
											<label class="bf-title normal-txt">Cold Cereals :</label>
											<div class="form-check">
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Corn Flakes, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Special K, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Sultana Bran, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Weet Bix, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Muesli</label>
											</div>
										</div>
									</div>
									<div class="evn-color ">
										<div class="form-group m-l-0 m-r-0">
											<label class="bf-title">Fruit & Sides :</label>
											<div class="form-check">
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Apple, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Orange, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Banana, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Pear, </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Prunes </label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Two Fruits</label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Yoghurt</label>
												<label class="form-check-label normal-txt"><input class="form-check-input" type="checkbox"> Custard</label>
											</div>
										</div>
									</div>
								</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-10 p-t-10 text-center" style="border-top: #cdcdcd solid 1px;">
									<div class="form-group">
                  						<label for="inputEmail3" class="col-lg-2 col-md-2 col-sm-2 col-xs-6 control-label col-lg-offset-2 col-md-offset-2 col-sm-offset-2">Comment: </label>
										<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6"><textarea class="form-control"></textarea></div>
									</div>
									<button  class="btn btn-primary" >Save</button>
									</div>
								<div class="clearfix"></div>
							</form>
						</div>
						<!-- Breakfast Content Tab Ends Here -->
						<!-- Morning Snacks Content Tab Starts Here -->
						<div class="tab-pane" id="tab_2">
							The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.
						</div>
						<!-- Morning Snacks Content Tab Ends Here -->
						<!-- Lunch Content Tab Starts Here -->
						<div class="tab-pane " id="tab_3">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</div>
						<!-- Lunch Content Tab Ends Here -->
					
						<div class="clearfix"></div>
					</div>
					<!-- /.tab-content -->
				</div>
				<!-- nav-tabs-custom -->
			</section>
			<!-- /.Left col -->
			<!-- right col (We are only adding the ID to make the widgets sortable)-->
			<section class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Order Items </h3>
						<div class="evn-color">
										<p><strong>Breakfast:</strong><br> Bacon , Margarine, Two Fruits <a href="#"><i class="fa fa-pencil-square-o" style="color: #29ad00;"></i></a>
										<p><b>Lunch :</b><br> Bacon , Margarine, Two Fruits <a href="#"><i class="fa fa-pencil-square-o" style="color: #29ad00;"></i></a>
						</div>
					</div>
				</div>
				<!-- Order Decripation Starts Here -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Order Description </h3>
						<div class="evn-color">
									<p><strong>Breakfast:</strong><br> Bacon , Margarine, Two Fruits <a href="#"><i class="fa fa-pencil-square-o" style="color: #29ad00;"></i></a>
									<p><b>Lunch :</b><br> Bacon , Margarine, Two Fruits <a href="#"><i class="fa fa-pencil-square-o" style="color: #29ad00;"></i></a>
						</div>
					</div>
				</div>
				<!-- Order Decripation Starts Here -->
			</section>
			<!-- right col -->
		</div>
		<!-- /.row (main row) -->

	</section>
	<!-- /.content -->
</div>

 <div class="control-sidebar-bg"></div>

</html>

    

