<div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
          <h1>Kitchen Master</h1>
          <ol class="breadcrumb">
              <li><a  routerLink=""><i class="fa fa-dashboard"></i> Home</a></li>
              <li class="active">Dashboard</li>
          </ol>
      </section>
      <!-- Main content -->
      <section class="content">
      <div class="row">       
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-t-5 col-md-offset-3"  id="orderModal1">
                  <div class="box box-info m-b-5">
                  <form class="form-horizontal" #frm="ngForm"  (ngSubmit)="onSubmit(frm.value)">
                      <div class="box-header with-border">
                          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                              
                <div class="box-body">
                    <div  class="form-group" *ngIf="showMessage">
                        <div class="col-lg-8 col-md-6 col-sm-5 col-xs-12 col-md-offset-4">
                         <div class="{{alert_class}} text-center">{{this.successJson.msg}}</div>
                        </div>
                    </div> 

                    <div class="form-group">
                      <label  class="col-lg-4 col-md-6 col-sm-5 col-xs-12 control-label">Hospital Name</label>
                      <div class="col-lg-8 col-md-6 col-sm-5 col-xs-12">
                      <select class="form-control"  required #hid="ngModel" name="hid" [(ngModel)]="HospitalId">
                      <option value="">Select Type</option>
                      <!-- <option value="105">Test Hospital</option>   -->
                      <option *ngFor="let rechosp of returnJsonhospital;" value="{{rechosp.hid}}" >{{rechosp.hname}}</option>
                      </select>
                     <p *ngIf="hid.errors && (hid.dirty || hid.touched)" class="error-red">Select Hospital</p>
                    </div>
                   </div>

                    <div class="form-group">
                        <label  class="col-lg-4 col-md-6 col-sm-5 col-xs-12 control-label">Kitchen Name</label>
                        <div class="col-lg-8 col-md-6 col-sm-5 col-xs-12">
                        <input type="text" class="form-control"  required #ktname="ngModel" name="kitchen_name" [(ngModel)]="KitchenName">
                     
                        <p *ngIf="ktname.errors && (ktname.dirty || ktname.touched)" class="error-red">Enter kitchen name</p>
                        </div>
                      </div>

                  <div class="form-group">
                    <label  class="col-lg-4 col-md-6 col-sm-5 col-xs-12 control-label">Kitchen Type</label>
                    <div class="col-lg-8 col-md-6 col-sm-5 col-xs-12">
                    <select class="form-control"  required  #kttype="ngModel" name="kitchen_type" [(ngModel)]="KitchenType" >
                      <option value="" >Select Type</option>
                      <option value="0">Canten</option>
                      <option value="1">Cafe</option>
                    </select>
                    <p *ngIf="kttype.errors && (kttype.dirty || kttype.touched)" class="error-red">Select KitchenType</p>
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->     
          </div>	
         <div class="clearfix"></div>
         <div class="box-footer text-center col-lg-12 col-md-12">
          <button type="submit" class="btn btn-primary" [disabled]="!frm.valid">{{submitbtn}}</button>
          <button type="button" class="btn btn-default" (click)="resetFunction();">Cancel</button>
          </div>	
         </div>
        </form>
       </div>
      </div>
     </div>
      <!-- Row Ends Here -->
      
      <div class="row">
          
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-5">
                  <div class="box box-info m-b-5">
                      <div class="box-header with-border">
                            <h3 class="box-title">Kitchen Master </h3>
                      </div>
                      <div class="box-body table-responsive">
                <table class="table table-bordered table-striped">
                 <thead>
                   <tr>
                    <th class="text-center">S.No</th>
                    <th class="text-center">Kitchen Name</th>
                    <th class="text-center">Hospital Name</th>
                    <th class="text-center">Kitchen Type</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                  </tr>
                 </thead>
                  <tbody>
                   <tr *ngIf="returnJson.length==0">
                     <td colspan="6" class="text-center">No Records Found</td>
                 </tr>         
                  <tr *ngFor="let rec of returnJson;  let i = index">
                    <td class="text-center">{{i+1}}</td>
                    <!-- <td class="text-center">{{rec.hos_id}} </td> -->
                    <td class="text-center">{{rec.kitchen_name}}</td>
                    <td class="text-center">{{rec.hname}}</td>
                    <td class="text-center" >{{rec.kitchen_type_name}}</td>
                    <td class="text-center" data-toggle="modal" data-target="#orderModal"><a (click)="getKitchenmasterEdit(rec)" ><i class="fa fa-pencil-square-o"></i></a></td>
                    <td class="text-center"><a (click)="deleteKitchenmaster(rec.config_id)"><i class="fa fa-fw fa-trash"></i></a></td>
                  </tr>          
                </tbody></table>
              </div>
            </div>
      </div>
      </div>
      <!-- Row Ends Here -->
      </section>
      <!-- /.content -->
    </div>