
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="../assets/dist/img/avatar2.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>User Name</p>
        <p><i class="fa fa-user"></i> : Female</p>
        <!--a href="#"><i class="fa fa-circle text-success"></i> Online</a-->
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      
       <li ><a routerLink="items" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Food Item Category</span></a></li>
       <li ><a routerLink="menu" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Menu Master</span></a></li>
       <li ><a routerLink="submenu" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>SubMenu Master</span></a></li>
       <li ><a routerLink="nutritionmaster" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Nutrition value Master</span></a></li>
       <li><a routerLink="modules" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Configuration Module</span></a></li>
       <li><a routerLink="chartmaster" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Chart Master</span></a></li>
       <li><a routerLink="itemquantity" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Item Quantity Type</span></a></li>
       <li><a routerLink="settings" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Config Settings</span></a></li>
       <li><a routerLink="kitchenmaster" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>kitchen Master</span></a></li>
       <li><a routerLink="fooditemmaster" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Food Item Master</span></a></li>
       <li><a routerLink="foodchart" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Food Chart</span></a></li>
       <!-- <li><a routerLink="communication" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Communication</span></a></li>
       <li><a routerLink="address" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Address</span></a></li>
       <li><a href="#"><i class="fa fa-angle-right"></i> <span>Link</span></a></li> 
       <li><a routerLink="register" routerLinkActive="active"><i class="fa fa-angle-right"></i> <span>Register</span></a></li> -->
       <li><a href="#"><i class="fa fa-angle-right"></i> <span>Logout</span></a></li>     
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>